
<table border="1" align="center">
<thead>
<tr>
<th>Result Type</th>
<th>Reading Level</th>
</tr>
</thead>
<tbody>
<tr>
<td>Minimum</td>
<td align="center"><%= @readings[0]%></td>
</tr>
<tr>
<td>Maximum</td>
<td align="center"><%= @readings[1] %></td>
</tr>
<tr>
<td>Average</td>
<td align="center"><%= @readings[2]%></td>
</tr>
</tbody>
</table>
<br>
<div align="center"><%= link_to 'Back', reports_index_path %></div>
