<h1>Patients Reports</h1>
<table cellspacing="20">
<tr>
<td>
<%= link_to reports_day_wise_path  do %> <span>Daily Wise</span><%end%> </td>
<td>
<%= link_to reports_month_to_date_path do %> <span>Month to Date</span><%end%> </td>
<td>
<%= link_to reports_month_wise_path do %> <span>Month Wise</span><%end%> </td>
</tr>
</table>
